html {
  align-content: center;
  justify-items: center;
  font-family: "Poppins", sans-serif;
}

:root {
  --mainBgColor: #020617;
  --secundaryBgColor: #cbd5e1;
}
.light-theme {
  background-color: #fff;
  color: #333;
}
.dark-theme {
  background-color: #1a1a1a;
  color: #fff;
}
.theme-toggle {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  margin: 20px;
}

/* Seccion del Lateral NavBar para dispositivos mobiles-
Invisible para dispositivos mayores a 720px */

.navbar{
  display: none;
}
.OpenLatbar{
  display: none;
}




.navbar-header {
  display: flex;
  align-items: center;
}
.toggle-btn {
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
  display: none; /* Ocultar inicialmente en pantallas mayores a 720px */
}

body {
  background: var(--mainBgColor);
  color: var(--secundaryBgColor);
  transition: background-color 0.3s, color 0.3s;
}
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 1%;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7%;
}
.LogoHeader {
  display: block;
  cursor: pointer;
}
.logo {
  max-width: 250px;
  max-height: 250px;
}
.NavbarHeader {
  white-space: nowrap;
  display: flex;
  gap: 10%;
  font-size: 15px;
  max-width: 1200px;
  cursor: pointer;
}
.NavbarHeader ul{
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  font-size: large;
}
.NavbarHeader li {
  display: inline;
  padding: 2%;
}

.NavbarHeader h3 {
  max-width: 140px;
}
.Night-Mode {
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  transition: 0.4s;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #cbd5e1;
}

.switch input:checked + .slider {
  background-color: #c9ced3;
}

.switch input:not(:checked) + .slider:before {
  background-color: #171c30;
}

.switch input:not(:checked) + .slider {
  background-color: #020617;
}

/* WriestTavo es un menso*/

/* Maincontent */
main {
  transition: margin-right 0.5s;
  position: relative;
  bottom: 50px;
  margin: 0;
  align-content: center;
  justify-content: space-around;
}
.mainflex {
  display: flex;
  margin: 0;
  align-content: center;
  justify-content: space-around;
}
main div {
  display: block;
}
main div img {
  max-width: 500px;
  max-height: 500px;
}
.UpperText {
  font-size: 13px;
  text-transform: uppercase;
}
.MidText {
  font-size: 60px;
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 8%;
}
.MidStyleText {
  color: #6387ac;
}
.mainButtons {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
  align-items: center;
}
.ButtonStart {
  outline: none;
  display: flex;
  background-color: #2b4ed0;
  border-radius: 15px;
  border: 4px solid #293f8d;
  height: 60px;
  width: 160px;
  justify-content: center;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}
.ButtonStart h3 {
  font-size: medium;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}
#Animation {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.Contenedor {
  top: 60px;
  align-content: center;
  cursor: pointer;
}

#Animation::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: #2b4ed0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#Animation:hover {
  color: #2b4ed0;
}

#Animation:hover::before {
  transform: scaleX(1);
}
.ContenedorF {
  display: flex;
  justify-content: space-between;
}
.SizeBox{
  width: 15px;
}

/* Hero Image  */

.Hero-image{
  animation: FloatingshadowAnimation 5s infinite; 
}

@keyframes FloatingshadowAnimation {
  0%, 100% {
    transform: translateY(0);
    filter: drop-shadow(0px 0px 1px white);
  }
  50% {
    transform: translateY(-18px);
    filter: drop-shadow(0px 0px 5px white);
  }
}
@media screen and (max-width: 1024px) {
  .NavbarHeader ul {
    width: 300px;
    display: flex;
    gap: 7px;
    font-size: 16px;
  }
  .logo{
    width: 170px;
  }

  .UpperText {
    font-size: 16px;
  }
  .MidText {
    font-size: 42px;
    line-height: 1.5;
    padding-bottom: 8%;
  }
  .mainflex{
    display: grid;
  }
  .InformationSide{
    order: 1;
   overflow: visible;
   white-space: nowrap;
  }
  .Hero-image{
    justify-items:center ;
  }
}




/* Dispositivos Mobiles */
@media screen and (max-width: 768px) {
  .InformationSide{
    order: 1;
  }
  .mainflex{
    display: grid;
    order: 2;
  }
  /* .LogoHeader{
    display: none;
  } */

  .Hero-image{
    animation: FloatingshadowAnimation 5s infinite; 
  }
  
  @keyframes FloatingshadowAnimation {
    0%, 100% {
      transform: translateY(0);
      filter: drop-shadow(0px 0px 1px white);
    }
    50% {
      transform: translateY(-18px);
      filter: drop-shadow(0px 0px 5px white);
    }
  }





/* Header Anterior escondido */

.NavbarHeader{
  display: none;
}
.Night-Mode{
  display:  none;
}








  /* lateral navbar */


 
  .OpenLatbar{
    display: block;
    visibility: visible;
    font-size: 30px; 
    cursor: pointer;
     right: 0; 
     position: fixed;
  }
  .lateralNavbar {
    display: flex;
    
  }
  .navbar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  .navbar a:hover {
    color: #020617;
  }
  
  .navbar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    transition: 0.3s;
    justify-self: center;
  }
  .navbar {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    align-content: center;
    justify-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }



  .slider round{

    margin-left: 40px;
    right: 40px;
  }
}
/* Modo Nocturno */
